/**/

#tablediv{
	overflow-y:auto;
	width:100%;
}
table{
	table-layout:fixed; 
	font-size: 15px;
}
.ids{
	width:45px;
}
td{
	word-wrap:break-word; 
}
.button-place, .btn-col{
	width:80px;
}
.button-place{
	display: flex;
	justify-content:center;
}
.btn-sm{
	margin: 5px;
	width:30px;
}